.App {
  text-align: center;

  display: grid;
  gap: 16px;

  grid-template-areas:
    "input"
    "generator"
    "plot"
    "inspect"
    "picker";
  grid-template-columns: 1fr;

  background-color: var(--salt-container-primary-background);
  color: var(--salt-text-primary-foreground);
}

@media screen and (min-width: 900px) {
  .App {
    height: 100vh;
    grid-template-areas:
      "input plot inspect"
      "generator plot picker";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .InputTextArea-container {
    padding-block-start: 32px;
  }

  .ColorInpsector {
    padding-block-start: 32px;
  }
}

.InputTextArea-container {
  grid-area: input;
}

.InputTextArea-textarea {
  color: var(--salt-text-primary-foreground);
  background-color: var(--salt-editable-primary-background);
}

.SuggestColorWithHue {
  grid-area: generator;
}

.SaturationBrightnessPlot-container {
  grid-area: plot;
  display: flex;
  flex-direction: column;
  padding: var(--salt-spacing-unit);
  justify-content: center;
  gap: calc(var(--salt-spacing-unit) * 2);
}

.SaturationBrightnessPlot-svg {
  min-width: 256px;
}

.SaturationBrightnessPlot-svg line,
.SaturationBrightnessPlot-svg rect {
  stroke: var(--chart-grid);
}

.SaturationBrightnessPlot-svg text {
  fill: var(--chart-text);
}

.SaturationBrightnessPlot-circle {
  fill: var(--chart-dot);
}

.SaturationBrightnessPlot-circleOutline {
  stroke-width: 1;
  stroke: var(--chart-dot-outline);
  filter: drop-shadow(0px 0px 0.5px rgba(0, 0, 0, 1));
  fill: transparent;
}

.SaturationBrightnessPlot-circleOutline2 {
  stroke-width: 1;
  stroke: var(--chart-dot-outline-2);
  fill: transparent;
}

.SaturationBrightnessPlot-circle:hover,
.SaturationBrightnessPlot-circleOutline:hover {
  cursor: grab;
}

.SaturationBrightnessPlot-HueSetter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ColorInpsector {
  grid-area: inspect;
}

.ColorInpsector-preferences-showAs {
  width: 130px;
}

.ColorsDisplay-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.ColorsDisplay-colorCode {
  font-family: "Roboto Mono", monospace;
  justify-self: end;
}
.ColorsDisplay-trailingText {
  font-family: "Roboto Mono", monospace;
  justify-self: end;
  /* Fixed width to align color block vertically */
  width: 125px;
  text-align: center;
}

.ColorsDisplay-colorBlock {
  width: 24px;
  height: 24px;
}

.ColorPicker {
  grid-area: picker;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Temporary fix for CSS loading order in prod build */
.ThemeSwitch.ThemeSwitch {
  position: absolute;
  top: 0px;
  left: 0px;
}

.GitHubLink {
  position: absolute;
  top: 0px;
  right: 0px;
}
