.App {
  text-align: center;

  display: grid;
  gap: 16px;

  grid-template-areas:
    "input"
    "plot"
    "inspect"
    "generator"
    "picker";
  grid-template-columns: 1fr;
}

@media screen and (min-width: 900px) {
  .App {
    height: 100vh;
    grid-template-areas:
      "input plot inspect"
      "generator plot picker";
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .InputTextArea-container {
    padding-block-start: 32px;
  }

  .ColorInpsector {
    padding-block-start: 32px;
  }
}

.SaturationBrightnessPlot-container {
  grid-area: plot;
  display: flex;
  flex-direction: column;
  padding: 0px 16px;
  justify-content: center;
}

.SaturationBrightnessPlot-svg {
  margin: 16px 0;
  min-width: 256px;
}

.SaturationBrightnessPlot-circle:hover {
  cursor: grab;
}

.SaturationBrightnessPlot-HueSetter {
  display: flex;
  flex-direction: column;
}

.ColorsDisplay-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.ColorsDisplay-colorCode {
  font-family: "Roboto Mono", monospace;
  justify-self: end;
}
.ColorsDisplay-trailingText {
  font-family: "Roboto Mono", monospace;
  justify-self: end;
  /* Fixed width to align color block vertically */
  width: 125px;
  text-align: center;
}

.ColorsDisplay-colorBlock {
  width: 24px;
  height: 24px;
}

.ColorPicker {
  display: flex;
  flex-direction: column;
  align-items: center;
}
