/*
    Extends uitk theme 
 */

.uitk-light {
  --chart-grid: var(--salt-separable-tertiary-borderColor);
  --chart-text: var(--salt-text-secondary-foreground);
  --chart-dot: var(--salt-color-red-500);
  --chart-dot-outline: var(--salt-color-white);
  --chart-dot-outline-2: var(--salt-color-teal-800);
}

.uitk-dark {
  --chart-grid: var(--salt-separable-border-color-3);
  --chart-text: var(--salt-text-secondary-foreground);
  --chart-dot: var(--salt-color-red-500);
  --chart-dot-outline: var(--salt-color-white);
  --chart-dot-outline-2: var(--salt-color-teal-30);
}
