/*
    Extends uitk theme 
 */

.uitk-light {
  --chart-grid: var(--uitk-separable-border-color-1);
  --chart-text: var(--uitk-text-secondary-color);
  --chart-dot: var(--uitk-color-red-500);
  --chart-dot-outline: var(--uitk-color-white);
  --chart-dot-outline-2: var(--uitk-color-teal-800);
}

.uitk-dark {
  --chart-grid: var(--uitk-separable-border-color-3);
  --chart-text: var(--uitk-text-secondary-color);
  --chart-dot: var(--uitk-color-red-500);
  --chart-dot-outline: var(--uitk-color-white);
  --chart-dot-outline-2: var(--uitk-color-teal-30);
}
